{% extends 'headset/index.html' %}
{% load static %}
{% load hs_tags %}

{% block content %}
<h1 align="center">Категории товаров.</h1>
<div class="ctgr-box">
    {% for cat in categories %}
    <div class="ctgr-element">
        {% if cat.name == "Mouses" %}
        <a href="{{cat.get_absolute_url}}" class="ctgr-link">
            <div class="ctgr-img-txt">
                <img class="ctgr-img" src="{% static 'headset/images/cat_mouses.jpg' %}" width="248" height="165" border="1">
                <p class="ctgr-text"><b>Игровые мышки</b></p>
            </div>
        </a>
        {% elif cat.name == "Keyboards" %}
        <a href="{{cat.get_absolute_url}}" class="ctgr-link">
            <div class="ctgr-img-txt">
                <img class="ctgr-img" src="{% static 'headset/images/cat_keyboard.jpg' %}" width="248" height="165" border="1">
                <p class="ctgr-text"><b>Игровые клавиатуры</b></p>
            </div>
        </a>
        {% elif cat.name == "Headgears" %}
        <a href="{{cat.get_absolute_url}}" class="ctgr-link">
            <div class="ctgr-img-txt">
                <img class="ctgr-img" src="{% static 'headset/images/cat_headgears.jpg' %}" width="248" height="165" border="1">
                <p class="ctgr-text"><b>Игровые наушники</b></p>
            </div>
        </a>
        {% elif cat.name == "Controllers" %}
        <a href="{{cat.get_absolute_url}}" class="ctgr-link">
            <div class="ctgr-img-txt">
                <img class="ctgr-img" src="{% static 'headset/images/cat_gamepads.jpg' %}" width="248" height="165" border="1">
                <p class="ctgr-text"><b>Геймпады</b></p>
            </div>
        </a>
        {% elif cat.name == "Carpets" %}
        <a href="{{cat.get_absolute_url}}" class="ctgr-link">
            <div class="ctgr-img-txt">
                <img class="ctgr-img" src="{% static 'headset/images/cat_carpets.jpg' %}" width="248" height="165" border="1">
                <p class="ctgr-text"><b>Коврики для мыши</b></p>
            </div>
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}