{% extends 'headset/base.html' %}
{% load static %}
{% load hs_tags %}

{% g_menu as menu %}
{% g_content as title%}
{% block search-elements %}
{% endblock search-elements %}
{% block content %}
<div class="login-window" align="center">
    <p class="log-text" align="center">Авторизация</p>
        <form method = "POST" action="">
            {% csrf_token %}
            <div class="enter-login">
                {{form.username}}
            </div>
            <div class="enter-password">
                {{form.password}}
            </div>
            <div class="enter-button"><button class="ent-but" type="submit">Войти</button></div>
        </form>
    <p class="forgot-password" align="center"><a class="fgt-pass" href="#">Забыли пароль?</a></p>
    <p class="ans-register" align="center"><a class="reg-href" href="/registration">Зарегистрироваться</a></p>
</div>
{% endblock content %}

