{% extends 'headset/index.html' %}
{% load static %}

{% block search-elements %}
{% endblock search-elements %}
{% block content %}
<div class="registration-window" align="center">
    <p class="log-text" align="center">Регистрация</p>
        <form method = "POST" action="">
            {%  csrf_token %}
            <div class="enter-password"><label for = "username">username</label>
                {{form.username}}
            </div>
            <div class="enter-password"><label for = "enter-password">Password</label>
                {{form.password1}}
            </div>
            <div class="enter-password"><label for = "enter-password">Confirm password</label>
                {{form.password2}}
            </div>
            <div class="enter-button"><button class="ent-but">Зарегистрироваться</button></div>
        </form>
   <p class="forgot-password" align="center"><a class="fgt-pass" href="/login">Уже есть аккаунт?</a></p>
</div>
{% endblock content %}